@font-face {
    font-family: 'Montserrat-Black';
    src: url('../assets/webfonts/Montserrat-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../assets/webfonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../assets/webfonts/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}