@import 'font-awesome/fontawesome.scss';
@import '_fonts';

body {
    background-color: #111;
    color: #fff;
    font-family: 'Roboto-Regular';
    margin: 0;
    padding: 0 135px;

    @media (max-width: 1199px) { 
        padding: 0 100px;
    }

    @media (max-width: 768px) { 
        padding: 0 50px;
    }

    @media (max-width: 375px) { 
        padding: 0 20px;
    }
}

p {
    margin: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    margin: 0;
    font-family: 'Montserrat-Black';
}

h2 {
    font-size: 15.5em;

    @media (max-width: 1199px) { 
        font-size: 13em;
    }

    @media (max-width: 1024px) { 
        font-size: 11em;
    }

    @media (max-width: 768px) { 
        font-size: 9em;
    }

    @media (max-width: 576px) { 
        font-size: 4.5em;
        text-align: center;
    }

    @media (max-width: 375px) { 
        font-size: 2.5em;
    }
}

h3 {
    font-size: 6.5em;

    @media (max-width: 1199px) { 
        font-size: 5em;
    }

    @media (max-width: 1024px) { 
        font-size: 4em;
    }

    @media (max-width: 768px) { 
        font-size: 3em;
    }

    @media (max-width: 576px) { 
        font-size: 2em;
    }

    @media (max-width: 375px) { 
        font-size: 1.5em;
    }
}

h4 {
    font-size: 2.6em;

    @media (max-width: 768px) { 
        font-size: 1.6em;
    }

    @media (max-width: 375px) { 
        font-size: 1.2em;
    }
}

.line {
    background: linear-gradient(90deg, #00f6ff 0, #00db9a 100%);
    height: 10px;
    margin-bottom: 40px;

    @media (max-width: 375px) { 
        margin-bottom: 20px;
    }
}

.home-page-header {
    margin-bottom: 150px;

    @media (max-width: 768px) { 
        margin-bottom: 100px;
    }

    h2 {
        background: -webkit-linear-gradient(180deg, #00db9a 0%, #00f6ff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        margin-top: 40px;
        font-size: 29px;

        @media (max-width: 768px) { 
            font-size: 1em;
        }
    }
}

.feature-in-section {
    .features-list {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 150px;

        @media (max-width: 768px) { 
            margin-bottom: 100px;
        }

        @media (max-width: 375px) { 
            margin-bottom: 50px;
        }

        .features-item {
            margin-bottom: 50px;

            img {
                height: 60px;

                @media (max-width: 768px) { 
                    height: 30px;
                }

                @media (max-width: 375px) { 
                    height: 20px;
                }
            }

            @media (max-width: 1199px) { 
                margin-right: 30px;
            }

            @media (max-width: 375px) { 
                margin-right: 10px;
            }
        }
    }

    .social-media-list {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 150px;

        @media (max-width: 768px) { 
            margin-bottom: 100px;
        }

        @media (max-width: 375px) { 
            flex-wrap: wrap;
        }

        .social-media-item {
            display: flex;
            flex-direction: column;
            max-width: 157px;

            span {
                margin-top: 30px;
                font-family: 'Roboto-Light';
                line-height: 20px;
            }

            @media (max-width: 375px) { 
                margin-bottom: 10px;
            }
        }
        
        i {
            font-size: 9em;

            @media (max-width: 1024px) { 
                font-size: 5em;
            }

            @media (max-width: 576px) { 
                font-size: 3em;
            }

            @media (max-width: 375px) { 
                font-size: 2em;
            }
        }

        .social-media-item-desc {
            font-size: 14px;

            @media (max-width: 576px) { 
                font-size: 10px;
            }
        }
    }
}

.store-audited-section {
    .store-audited-section-desc {
        width: 50%;
        margin-top: 40px;
        font-family: 'Roboto-Light';

        @media (max-width: 768px) { 
            width: 70%;
        }
    }

    .store-audited-section-conclusion {
        text-transform: uppercase;
        font-size: 3em;
        margin: 30px 0;
        margin-bottom: 100px;
        font-family: 'Montserrat-Black';

        @media (max-width: 768px) { 
            font-size: 1.5em;
        }

        @media (max-width: 375px) { 
            margin-bottom: 50px;
        }
    }

    .store-audited-button {
        width: 100%;
        padding: 30px 0;
        text-transform: uppercase;
        color: #000;
        font-family: 'Montserrat-Black';
        font-size: 3em;
        background: -webkit-linear-gradient(180deg, #00db9a 0%, #00f6ff 100%);
        margin-bottom: 150px;
        outline: none;
        border: none;
        
        @media (max-width: 768px) { 
            font-size: 1.5em;
            margin-bottom: 100px;
            padding: 20px 0;
        }
    }
}

.features-section {
    .features-section-block {
        display: flex;
        margin-bottom: 100px;

        @media (max-width: 576px) { 
            flex-direction: column;
            align-items: center;
        }

        .features-section-block-image {
            width: 50%;
            text-align: center;

            @media (max-width: 576px) { 
                width: 100%;
            }

            img {
                max-width: 350px;

                @media (max-width: 1024px) { 
                    max-width: 250px;
                }

                @media (max-width: 768px) { 
                    margin-bottom: 15px;
                }
            }
        }

        .features-section-block-desc {
            width: 50%;

            @media (max-width: 576px) { 
                width: 100%;
            }

            p {
                text-transform: uppercase;
                font-family: 'Montserrat-Black';
                font-size: 2em;
                margin-bottom: 50px;

                @media (max-width: 768px) { 
                    font-size: 1.5em;
                }
            }

            span {
                font-size: 14px;
            }
        }
    }

    .features-section-block-two {
        .features-section-block-image {
            img {
                max-width: 250px;

                @media (max-width: 1024px) { 
                    max-width: 200px;
                }
            }
            @media (max-width: 576px) { 
                margin-top: 30px;
                width: 100%;
            }
        }
    }
}

.what-we-can-section {
    margin-bottom: 150px;

    @media (max-width: 768px) { 
        margin-bottom: 100px;
    }

    @media (max-width: 375px) { 
        margin-bottom: 50px;
    }

    h4 {
        background: -webkit-linear-gradient(180deg, #00db9a 0%, #00f6ff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 150px;

        @media (max-width: 375px) { 
            margin-bottom: 50px;
        }
    }
    
    .what-we-can-section-desc {
        width: 55%;
        font-family: 'Roboto';

        @media (max-width: 768px) { 
            width: 70%;
        }
    }

    .what-we-can-section-conclusion {
        font-family: 'Montserrat-Black';
        text-transform: uppercase;
        font-size: 2.5em;

        @media (max-width: 768px) { 
            font-size: 1.5em;
        }

        @media (max-width: 375px) { 
            font-size: 1.2em;
        }
    }
}

footer {
    .home-page-footer-block {
        display: flex;
        margin-bottom: 40px;

        .home-page-footer-block-item-one {
            text-transform: uppercase;
            width: 40%;
        }
    }
}